<h1>New Channel</h1>

<h2>Starting a new channel is easy. In three simple steps you will be on your way to owning your very own online business!</h2>




<%= render 'form' %>




<%= link_to 'Back', pins_path %>
