<section id="content-receipt" class="clearfix">
 <div id="receipt-container">
  <div class="dotmatrix left"></div>
   <div id="receipt-content">
   <h4 id="receipt-title">Thank You!</h4>
   <a href="https://s3.amazonaws.com/Bio-Views/4002+Bio-views+Logo-1.jpg">My Logo</a></p>
   <p><strong>RECEIPT</strong></p>
     <div id="receipt-details" class="row clearfix">
  <div class="col-sm-8 receipt-left">
<p><strong class="font-weight-heavy">Bio-Views</strong><br/> <span class="font-weight-light">Channel subscribtion</span></p>
    </div>
<div class="col-sm-4">
$9.99
 </div>
</div>
<footer id="receipt-footer">
<small>Your purchase is complete. We hope you enjoy it!</small>
</footer>
 </div>
<div class="dotmatrix right"></div>
 </div>
<div id="receipt-shadow"></div>
</section> 

