<div class="container1">
	<div class="col-md-7">
		 <h1 class="hdr-jumbo">Upload Videos and content</h1>
			<p>You have a passion and you want to share it globally without having to be a technical co-founder. We get it. With Bio-Views, your able to upload videos, pictures and content to your page for clients to access anytime, anywhere. It's that simple.</p>
			<img src="..." alt="Desktop, Tablet" class="img-rounded">
	</div>
</div>

	<div class="container2">
		<div class="col-md-7 col-md-offset-6">
			 <h1 class="hdr-jumbo">Track your Results</h1>
			<p>Track your financials, clients, traffic and more with our super powerful all-in-one smart dashboard.
			</p>
			<img src="..." alt="Desktop" class="img-rounded">
		</div>
	</div>


	<div class="container3">
		<div class="col-md-7">
		 <h1 class="hdr-jumbo">Communicate with clients in real-time</h1>
			<p>Think customers first for once. Learning online isn't easy to do and that's why we made communication a key feature you can access at your disposal. Chat and message clients during your business hours or whenever you feel like.
			</p>
			<button type="button" class="btn btn-primary btn-lg">Register your business now!</button>
		</div>
	</div>

			  

	<div class="container4">
		<div class="col-md-7 col-md-offset-6">	
			 <h1 class="hdr-jumbo">Marketing with efficency in mind</h1>
				<p>Having ten tabs open at a time is over. Post to your social media handles from one click and reach your audience faster than ever! Create a blog, newsletter, or post right from our super smart dashboard. Yes, this is real.
			</p>
			<img src="..." alt="Tablet" class="img-rounded">
		</div>
	</div>

			
	