<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Video Library Management</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Video Library Management</h1>
    <!-- This is your upload form -->
    <form id="upload-form" action="?upload=complete" enctype="multipart/form-data" method="POST">
      <input type="file" name="my_file" multiple="multiple" />
    </form>
  </div>

  <div class="container">
    <div class="row">
        <h3>
        Current Video Library
        </h3>
        <p>
        <a href="http://bootsnipp.com/iframe/d2DzN" target="_blank">View Full Screen </a> <i>(Req'd to test on mobile device)</i>
        </p>
        <hr>
        </div><!--.row -->
        </div><!--./container -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-4">
         
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TQl_Sv3LztQ"></iframe>
                        </div>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TQl_Sv3LztQ"></iframe>
                        </div>
         
         <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TQl_Sv3LztQ"></iframe>
                        </div>
         
         <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TQl_Sv3LztQ"></iframe>
                        </div>
         
         <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TQl_Sv3LztQ"></iframe>
                        </div>
         
         <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/TQl_Sv3LztQ"></iframe>
                        </div>

                        </div><!--./row -->
                        </div><!--./container -->



</body>
</html>