
   <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Efficient and Effective Solutions</h1>
            <p>Running a business online is challengeing, So we make it easy.</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Risk Free</h2>
              <p>Starting a business is a risk, and we make it risk free. With no financial investment, online business owners are able to test out their service. </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>No Need for technical Skills</h2>
              <p>Paying programmers or website guys gets expensive and website builders don't scale with your business. That's why we do all the technical work and let you focus on your passion. </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>24/7 Customer support</h2>
              <p>Waiting on the website guy to add content or media is over. With no technical skills, business owners will be able to access, edit, and upload anything they need. </p> 
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>High Commissions</h2>
              <p>Online business owners will recieve 70% comission on all of their clients, Regardless of what degree or certification! </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Paid Weekly</h2>
              <p>Recieve payments weekly with access to all of your financials with your own back office. </p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Work on your time</h2>
              <p>Upload content and be available to your clients during the hours you want to work.</p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item"><strong>Features</strong></a>
            <a href="#" class="list-group-item">Key Analytics</a>
            <a href="#" class="list-group-item">Social Media Intergration</a>
            <a href="#" class="list-group-item">Financials</a>
            <a href="#" class="list-group-item">Tasks</a>
            <a href="#" class="list-group-item">Calender</a>
            <a href="#" class="list-group-item">Video Library Management</a>
            <a href="#" class="list-group-item">Content Manager</a>
            <a href="#" class="list-group-item">Built in CRM</a>
            <a href="#" class="list-group-item">Blogging</a>
            <a href="#" class="list-group-item">Client base control</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->


