<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="robots" content="NOODP,NOYDIR" />
    <meta name="keywords" content="Bio-Views, teach, learn, share, course, online course, how to, howto, virtual, online business, business,"/>
 <!-- Title -->    
            
    <title>Bio-Views | Sell your expertise and gain subscribers globally.</title>
    <meta name="Web application where online business owners can sell their expertise and have subscribers globally." content="Sell your expertise and gain subscribers globally">
    
<!-- Favicon -->
<link rel="icon" type="assets/favicon.ico"/>
</head>





<body>



<div class="jumbotron center">
  <div class="container">
<h1>Grow your business online</h1>
<p>Sell your expertise without having any technical background or thousands of dollars.</p>

<%if user_signed_in? %>
Welcome to the Inside of Bio-Views
<% else %>
  <%=link_to"Sign Up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <% end %>
</div>
</div>




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
   
    <div class="row form-group product-chooser">
    
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item selected">
           <span class="glyphicon glyphicon-cloud"></span>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <h3>Everything on the cloud</h3>
            <span class="description">Downtime and worrying about your website can be a hassle. That's why we host your business page for you. Our cloud platform lets business owners focus more on there passions and expertise.</span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item">
          <span class="glyphicon glyphicon-stats"></span>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
             <h3>Track your key metrics</h3>
            <span class="description">Analyze data coming in from the traffic your page is reciving. Business owners will be able to view how many likes and followers they have from one place.</span>
            <input type="radio" name="product" value="desktop">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item">
         <span class="glyphicon glyphicon-globe"></span>
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <h3>Make your brand global</h3>
            <span class="description">Marketing and crm is important to all businesses. From one dashboard, online business owners will be able to send messages from the main social networks and communicate with their clients all from the same place.</span>
            <input type="radio" name="product" value="mobile">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      
    </div>
</div>






<div class="container1">
  <div class="col-md-7">
     <h1 class="hdr-jumbo">Upload Videos and content</h1>
      <p>You have a passion and you want to share it globally without having to be a technical co-founder. We get it. With Bio-Views, your able to upload videos, pictures and content to your page for clients to access anytime, anywhere. It's that simple.</p>
     <!-- <img src="/assets/idea.jpg"alt="Desktop, Tablet"> -->
  </div>
</div>

  <div class="container2">
    <div class="col-md-7 col-md-offset-6">
       <h1 class="hdr-jumbo">Track your Results</h1>
      <p>Track your financials, clients, traffic and more with our super powerful all-in-one smart dashboard.
      </p>
     <!-- <img src="/assets/new-york.jpg"alt="Desktop, Tablet"> -->
    </div>
  </div>


  <div class="container3">
    <div class="col-md-7">
     <h1 class="hdr-jumbo">Communicate with clients in real-time</h1>
      <p>Think customers first for once. Learning online isn't easy to do and that's why we made communication a key feature you can access at your disposal. Chat and message clients during your business hours or whenever you feel like.
      </p>
      <button type="button" class="btn btn-primary btn-lg">Register your business now!</button>
    </div>
  </div>

        

  <div class="container4">
    <div class="col-md-7 col-md-offset-6">  
       <h1 class="hdr-jumbo">Marketing with efficency in mind</h1>
        <p>Having ten tabs open at a time is over. Post to your social media handles from one click and reach your audience faster than ever! Create a blog, newsletter, or post right from our super smart dashboard. Yes, this is real.
      </p>
     <!-- <img src="/assets/businessman-with-laptop.jpg"alt="Desktop, Tablet"> -->
    </div>
  </div>

      
   </div><!-- /.container -->

 

        <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Bio-Views, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>





<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('8084-359-10-9407');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8084-359-10-9407/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
</body>