


<div class="jumbotron center">
<h1>Grow your business online</h1>
<p>Sell your expertise and have subscribers from all over the world.</p>

<%if user_signed_in? %>
Welcome to the Inside of Bio-Views
<% else %>
  <%=link_to"Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>


</div>




<div class="row1">
	<div class="container">
		<div class="col-xs-6 col-md-4">
			<span class="glyphicon glyphicon-cloud"></span>
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="#">
				<h2>Scale your Business</h2>
					<p>Downtime and worrying about your website can be a hassle. That's why we host your business page for you. Our cloud platform lets business owners focus more on there passions and expertise.</p>
		</div>
	</div><!-- END container -->
	</div><!-- End Div Class -->



<div class="row2">
	<div class="container">
		<div class="col-xs-6 col-md-4">
			<span class="glyphicon glyphicon-stats"></span>
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="#">
			  <h2>Track your key metrics </h2>
			      <p>Analyze data coming in from the traffic your page is reciving. Business owners will be able to view how many likes and followers they have from one place. </p>
			</div>
</div><!-- END container -->
	</div><!-- End Div Class -->



<div class="row3">
	<div class="container">
		<div class="col-xs-6 col-md-4">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="#">
			<span class="glyphicon glyphicon-globe icon-magenta"></span>
				<h2>Make your Brand global</h2>
					<p>Marketing and crm is important to all businesses. From one dashboard, online business owners will be able to send messages from the main social networks and communicate with their clients all from the same place.</p>
		</div>
		</div><!-- END container -->
	</div><!-- End Div Class -->



 

        <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Bio-Views, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

