<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Stripe charges</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>

	<h1>Payment Information</h1>

   <%= yield %>
</form>


 
</body>
</html>